<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>Save our Servers</title>
  <meta name="decsription" content="Save your servers from mundane naming schemes">

</head>
<body>
  <%= yield %>
</body>
</html>